{% extends 'base.html.twig' %}

{% block title %}New Appartient{% endblock %}

{% block body %}
    <h1>Create new Appartient</h1>

    {{ include('appartien/_form.html.twig') }}

    <a href="{{ path('app_appartien_index') }}">back to list</a>
{% endblock %}
